# --- Haskell/Cabal ---
dist-newstyle/
dist/
cabal.project.local
cabal.project.local*
cabal.project.freeze

# --- Artefactos de Compilación de GHC ---
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi

#--- Persistencia de datos ---
eventos_db.csv
